{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.desc|truncatewords:155 }}
    {% else %}
        Welcome to CineMatic
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - CineMatic
    {% else %}
        See new releases
    {% endif %}
{% endblock %}
{% block body %}
     {% if category %}
        <div class="content">
            <div class="row my_row_class">
                <div class="mx_auto">
                <p><a href="{% url 'finalapp:allMovieCat' %}">Movie Collections</a></p>
            </div>
        </div>
            </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
        <img class="my_category" src="{{ category.img.url}}" alt="{{category.name}}">
</div>
<br>
<div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.desc}}</p>
</div>
    {% else %}
<img class="my_image_banner my_image_padding" src="{% static 'img/banner.png' %}" alt="Movies" width="100%;">
<div>
    <h1 class="text-center my_title">Movie collection</h1>
    <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for movie in movies.object_list %}
        <div class="my_bottom_margin col-9 col-sm-4 col-md-4 xol-lg-4"><br>
                <div class="card text-center" style="min-width: 18rem;">
  <a href="{{movie.get_url}}"><img src="{{movie.poster.url}}" class="card-img-top my_image" alt="{{movie.title}}">{{pg}}</a>
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">{{movie.desc}}</p>
    </div>
</div>
        </div>
        {% endfor %}
        <br>
        </div>
    <div class="mx_auto">
        {% if movies.paginator.num_pages > 1 %}

        <hr>
            <div class="text-center">
                {% for pg in movies.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if movies.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>
                {% endif %}
    </div>
    <br>
    </div>
{% endblock %}
