<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color:teal;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Registration Form</h3>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="fname" placeholder="first name"><br>
    <input type="text" name="lname" placeholder="last name"><br>
    <input type="email" name="email" placeholder="Email id"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="password" name="cpassword" placeholder="confirm password"><br>
    <input type="submit" >
</form>
{% for message in messages %}
    {{ message }}
{% endfor %}
</body>
</html>