{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        We have all type of films
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block body %}
<div>
    <p class="text-center my_search_text">You have searched for :<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for movie in movies %}
        <div class="my_bottom_margin col-9 col-sm-4 col-md-4 xol-lg-4"><br>
                <div class="card text-center" style="min-width: 18rem;">
  <a href="{{movie.get_url}}"><img src="{{movie.poster.url}}" class="card-img-top my_image" alt="{{movie.title}}">{{pg}}</a>
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">{{movie.desc}}</p>
    <a href="#" class="btn btn-primary">View More</a>
  </div>
</div>
        </div>
        {% empty %}
        <div class="row mx_auto">
            <p class="text-center my_search_text">0 results found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}